@font-face {
  font-family: 'The Seasons';
  src: url('/Fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-the-seasons {
  font-family: 'The Seasons', sans-serif;
}