@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-the-seasons {
  font-family: 'The Seasons', sans-serif;
}