.shimmer-container {
  position: relative;
  overflow: hidden;
}

.shimmer {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 25%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.03) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 3s infinite;
  transform: rotate(30deg);
}

@keyframes shimmer {
  0% {
    transform: translate(-100%, -100%) rotate(30deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(30deg);
  }
}